/* Estilos para o cabeçalho */
header {
    background-color: #b1ab99;
    color: #4b4737;
    text-align: center;
    padding: 20px;
}

/* Estilos para a parte principal */
main {
    padding: 20px;
}

/* Estilos para o rodapé */
footer {
    background-color: #b1ab99;
    color: #4b4737;
    text-align: center;
    padding: 10px;
}
